

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

/*wildcardselector - applies to whole page*/
*{
    font-family: 'Cute Font' ,sans-serif;
}



/*general styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: green;
    justify-content: center;
}

h1{
    font-size: 10vh;
}

h2{
    font-size: 8vh;
}

h3{
    font-size: 5vh;
}

h4{
    font-size: 3vh;
}


/* welccome screen styles*/
.flexing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.btn{
    border: 2px solid;
    border-radius: 40%;
    font-size: 10vh;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 2px;
}

.btn:hover{
    color: white;

}